{% extends "templates/base.html" %}
{% block content %}
	<div class="aboutusbanner">
		<img src="static/mission.png" alt="Mission"/>
	</div>
	<div class="pagetitle">
		<p>About Us</p>
	</div>
	<!--
	<div class="biographysection">
		<img src="static/rob.png" class="individual" alt="Rob Zonino" />
		<img src="static/nick.png" class="individual" alt="Nick Reitnour" />
		<img src="static/brian.png" class="individual" alt="Brian Archer" />
	</div> -->

	<div class="biographySection">
		<div class="personIndividual">
			<div class="personPicture">
				<img src="static/nick.png" alt="Nick Reitnour"/>
			</div>
			<div class="personBiography">
				<h3>Nick Reitnour</h3>
				<p>Nick studies at the University of Michigan's nationally-recognized Stephen M. Ross School of Business, where his courseload emphasizes in Finance and Strategy. In addition to pursuing a BBA, he has taken several computer science courses that have been a boon for the development of the technological-underpinnings of Otto's algorithm. During his sophomore summer, he interned at Merrill Lynch so he could have the opportunity to test out his algorithm on real-world portfolios, and the phenomenal results served as another source of validity for Otto. He firmly believes that the current version of Otto represents just 1% of what it will become, and the remaining 99% is going to start a Fintech revolution.</p>
			</div>
		</div>

		<div class="personIndividual">
			<div class="personPicture">
				<img src="static/rob.png" alt="Rob Zonino"/>
			</div>
			<div class="personBiography">
				<h3>Rob Zonino</h3>
				<p>Rob is student-athlete the University of Michigan working towards a degree in General Studies with a focus in Business, Economics and Entrepreneurship. Between his diverse course load and past experience as an intern at Ameriprise Financial, Rob has become enthralled with the stock market and technologies emerging role within it. Rob’s insights in the financial industry along with his creative thinking and natural leadership abilities have enabled him to play a pivotal role in the development of Otto Investments. Outside of his education Rob is a Goaltender for the University of Michigan Division 1 lacrosse program where he hopes to win a Big Ten Title for the Wolverines. </p>
			</div>
		</div>

		<div class="personIndividual">
			<div class="personPicture">
				<img src="static/brian.png" alt="Brian Archer"/>
			</div>
			<div class="personBiography">
				<h3>Brian Archer</h3>
				<p>Brian is currently a senior at the University of Michigan majoring in one of the nation’s top Mechanical Engineering programs. Through his technology, mathematics, and design exposure, Brian has gained an understanding of the creative process and is developing skills that align closely with Otto’s database system. As a student-athlete, Brian has advanced his teamwork, leadership, and time management skill set, which will facilitate his ability to meaningfully contribute to Otto.</p>
			</div>
		</div>
	</div>


{% endblock %}