{% extends "templates/base.html" %}
{% block content %}
	<div class="pagetitle">
		<p>Feedback</p>
	</div>

	<div class="contactUsButtons">
		<button type="button"><a href="newfeature.html">Propose a Feature</a></button>
		<button type="button"><a href="foundbug.html">Report a Bug</a></button>
		<button type="button"><a href="connect.html">Connect With Us</a></button>
	</div>

	<div class="contactUsMessage">
		<p>Thank you for using our Beta Version 0.0 of Otto Investments. We recognize that the current version of the product is minimalistic and may have some bugs. However, we wanted to put our product out there for you to experience so we can get your feedback. The features you suggest, bugs you find, and the miscellaneous comments you make will truly help shape the future of Otto Investments and create a product that starts a revolution in wealth management.</p>
	</div>

{% endblock %}