<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title> Otto Investments</title>
	<link rel="stylesheet" href="static/style.css">
</head>
<body>
	<h1>
		Oops!
	</h1>
	<p>
		The data source we are using, Yahoo Finance, is not responding right now. Once we get more paying customers, we will be able to buy more robust data sources. In the meantime, clicking the <b>BACK</b> button and retrying the previous page occasionally works.
		<br/>
		<br/>
		We are working <b> around the clock to constantly improve </b> our service. If you would like to reach out to us about your specific situation, we would love to hear from you! 
		<br/>
		<br/>
		<center><a href="mailto:ottoinvestment@gmail.com">OttoInvestment@gmail.com</a></center>

</body>
</html>